html, body, #root, .competition-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.competition-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.competition-content {
  flex: 1;
  padding: 40px 60px;
  font-family: 'Wanted Sans Variable', sans-serif;
  background-color: #fff;
}
